<div id="crud"></div>
    <div class="container">
        <h1>CRUD de curso</h1>
        <div class="q-and-a">
            <p class="mb-4">CRUD de artiguinhos</p>
            <a href="/cursos/lista" class="btn btn-light">Listar Cursos</a>
            <a href="/cursos/add" class="btn btn-light">Adicionar Cursos</a>
        </div>
    </div>
</div>