<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/cursos/lista">Cursos</a></li>
    <li class="breadcrumb-item">Adicionar</li>
</ol>
<h1 class="display-4">Adicionar Cursos</h1>
<div>
    <form method="post" action="/cursos">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="1" type="text" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="sigla">Sigla</label>
            <input id="2" type="text" name="sigla" class="form-control">
        </div>
        <div class="form-group">
            <label for="desc">Descricao</label>
            <input id="3" type="text" name="desc" class="form-control">
        </div>
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
